@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

.theme-transition,
.theme-transition * {
  transition:
    background-color 300ms ease,
    border-color 300ms ease,
    color 300ms ease !important;
}

.thumb-transition {
  transition: transform 300ms ease !important;
}
